In [9]:
from sklearn.feature_extraction.text import TfidfVectorizer
# تحميل البيانات المعالجة في أي نوت بوك تاني
import pandas as pd
data = pd.read_csv("processed_movielens_100k.csv")
# عرض أول 5 صفوف من البيانات
print(data.head())

   userId  movieId  rating  timestamp                        title  \
0       1        1     4.0  964982703             Toy Story (1995)
1       1        3     4.0  964981247      Grumpier Old Men (1995)
2       1        6     4.0  964982224                  Heat (1995)
3       1       47     5.0  964983815  Seven (a.k.a. Se7en) (1995)
4       1       50     5.0  964982931   Usual Suspects, The (1995)

                                        genres
0  Adventure|Animation|Children|Comedy|Fantasy
1                               Comedy|Romance
2                        Action|Crime|Thriller
3                             Mystery|Thriller
4                       Crime|Mystery|Thriller

In [10]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# 1. بناء TF-IDF من genres
tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(data['genres'])

In [11]:
# 2. دالة التوصية بناءً على input genres (زي أسلوب المحاضرة)
def recommend_by_input_genre(input_genre, data, tfidf, tfidf_matrix, top_n=10):
    input_genre = input_genre.replace('|', ' ').lower()
    input_vector = tfidf.transform([input_genre])
    
    similarity = cosine_similarity(input_vector, tfidf_matrix).flatten()
    top_indices = similarity.argsort()[::-1][:top_n]
    
    recommended = data.iloc[top_indices].copy()
    recommended['similarity'] = similarity[top_indices]
    
    return recommended[['title', 'genres', 'similarity']]

In [12]:
recommend_by_input_genre("action adventure sci-fi", data, tfidf, tfidf_matrix, top_n=5)

,title,genres,similarity
67854,Star Trek III: The Search for Spock (1984),Action|Adventure|Sci-Fi,1.0
67916,Superman (1978),Action|Adventure|Sci-Fi,1.0
17484,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,1.0
52921,Star Wars: Episode V - The Empire Strikes Back...,Action|Adventure|Sci-Fi,1.0
17504,Star Wars: Episode V - The Empire Strikes Back...,Action|Adventure|Sci-Fi,1.0